*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.run.*
*.bcf
*.fls
*.fdb*
*.o
*.pdf
/build
*.log.*
*.view.*
*.x
*.logf.*
*.ppm
*.png
*.dat.*
*/build
*.zip
*.class
package
*out.yml
target
build
.gradle
lib
__pycache__
*.pyc
vendor
target
.settings
.classpath
.project
*.exe
.vscode
run
*.asm
*.sum
